html{
  overflow-x: hidden !important;
}

#wrapper{
  position: relative;  
}

#content-bottom{
  background-color: $color2;
  width: 100%;
  padding:20px;
  h4{
    text-transform: uppercase; 
    color: #FFF;
    padding-bottom: 0;
  }
}