body.blog{
  .entry-content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;  
  }
}

.post-block{
  width: 100%;
  padding: 10px;
  @include breakpoint($md){
    width: 50%;  
  }
  @include breakpoint($mdl){
    width: 1/3 * 100%;  
  }
  a{
    display: block; 
  }
}